body {
  margin: 0;

}

ul {
  padding-left: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.section {
  padding: 1rem;
}

.section__pic {
  min-height: 100vh;
  background: url('');
  color: green;
}

/*Avatar*/

.wrapper {
  margin: 0;
  display: inline-block;
  float: right;
  background: green;
}

.avatar-bottom {
  position: fixed;
  display: inline-block;
  left: 1rem;
  margin: 0.2rem;
  padding: 0.2rem;
  top: 34rem;
}

.avatar {
    margin: 0;
    width: 5rem;
}

.health-stats {
  font-size: 1rem;
  color: #807b8f;
  display: inline-block;
  position: fixed;
  top: 70%;
  margin: 0;
  padding:  2rem 6rem;
  font-size: 1.4rem;
}

.bar-stack {
  display: inline-block;
  height: 2rem;
}

.bar {
  background: #bad050;
  border: #a3a3a3 solid 0.2rem;
  font-size: 2rem;
}

.health-text__left {
  color: red;
}


.center-wrapper {
  position: fixed;
  margin: 0.5rem;
  padding: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.skull {
 max-width: 4rem;
}
