body {
  margin: 0;
  font-family: Arial;
}

ul {
  padding-left: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

img {
  /*max-width: 100%;*/
}

.section {
  padding: 1rem;
}

.section__pic {
  min-height: 100vh;
  background: url('');
  max-width: 100%;
}

.container {
  max-width: 95%;
  margin: 0 auto;
}

/*Avatar -- Left.Bottom Side of Screen*/

.avatar-bottom {
  position: fixed;
  display: inline-block;
  left: 0.5rem;
  margin: 1rem;
  top: 34rem;
}

.avatar {
    margin: 0;
    width: 6rem;
}

.health-stats {
  color: #807b8f;
  position: fixed;
  top: 75%;
  margin: 0;
  padding:  1rem 5rem;

}

.bar-stack {
  display: inline-block;
  transform: rotate(-3deg);
}

.bar {
  transform: rotate(4deg);
  background: #d2d2d2;
  border-radius: .3rem;
  display: inline-block;
  height: 2.5rem;
  width: .8rem;
}

.bar-yellow {
  transform: rotate(4deg);
  background: #edd63c;
  border-radius: .3rem;
  display: inline-block;
  height: 2.5rem;
  width: .8rem;
}

.slash-health-bar {
  display: inline-block;
  position: fixed;
  left: 29.3rem;
  top: 83%;
  font-family: 'Exo 2', sans-serif;
  font-size: 3rem;
  color: #1a81df;
  transform: rotate(1deg);
}

.health-text__left {
  font-size: 2.5rem;
  color: #4b4b4b;
  font-family: 'Exo 2', sans-serif;

}

#two-fifty {
  font-size: 2rem;
  font-family: 'Exo 2', sans-serif;
  color: #4b4b4b;
}


#slash {
  color: #1a81df;
  font-family: 'Exo 2', sans-serif;
  font-size: 2rem;

}

/*Center Sector*/

.center-wrapper {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
  display: inline;
}

.skull {
  max-width: 5rem;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -100%);
}

.text {
    text-align: center;
    font-size: 2.3rem;
    font-weight: bolder;
    display: inline;
    font-family: 'Exo 2', sans-serif;
}

.eliminated-text {
  display: inline-block;
  color: red;

}

.eliminated-text__bottom {
  display: inline-block;
  color: red;
}

.damage {
  display: inline;
  max-width: 5rem;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -75%);
}


/*Bottom-Right Sector*/

.avatar-bottom-right {
  background: lightgrey;
  margin: 1rem;
  display: inline-block;
  position: absolute;
  right: 2rem;
  top: 35rem;
}

#gun {
  max-width: 14rem;
  transform: rotate(16deg);
  display: inline-block;
}

.ammo-count {
  display: inline-block;
  position: fixed;
  right: 0.5rem;
  top: 77%;
  padding: -1rem;
  font-family: 'Exo 2', sans-serif;
  font-size: 1.4rem;
  color: #4b4b4b;
}

.forty {
  font-size: 2.2rem;
  font-family: 'Exo 2', sans-serif;
  color: #4b4b4b;
}

#slash-two {
  color: #1a81df;
  font-family: 'Exo 2', sans-serif;
  font-size: 2rem;
}

.slash-gun {
  display: inline-block;
  position: fixed;
  right: 1.5rem;
  top: 85%;
  font-family: 'Exo 2', sans-serif;
  font-size: 4.5rem;
  color: #1a81df;
  transform: rotate(4deg);
}

/* Next to Icons */

.icon {
  background: black;
  display: inline-block;
  position: absolute;
  margin: 0 -3.5rem;
  right: 20.5rem;
  top: 36rem;
  transform: rotate(3deg);
}

.next-to-icon {
  margin: 0.2rem;
  max-width: 3.5rem;
  border-radius: .5rem;
  border: solid 0.2rem lightgrey;
}

.next-to-icon__right {
  margin: 0.2rem;
  max-width: 3.5rem;
  border-radius: .5rem;
  border: solid 0.2rem lightgray;
}

.bottom-icons {
  background: black;
  position: absolute;
  display: inline-block;
  margin: 0 -3.5rem;
  right: 20.5rem;
  top: 30rem;
  transform: rotate(3deg);
}

.left-sm {
  max-width: 2rem;
  border-radius: .5rem;
  border: solid 0.1rem lightgrey;
  margin: 0.2rem;
}

.right-sm {
  max-width: 2rem;
  border-radius: .5rem;
  border: solid 0.1rem lightgrey;
  margin: 0.2rem;
}
