body {
  margin: 0;
  font-family: Arial;
}

ul {
  padding-left: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.section {
  padding: 1rem;
}

.section__pic {
  min-height: 100vh;
  background: url('');
}

/*Avatar -- Left.Bottom Side of Screen*/

.avatar-bottom {
  position: fixed;
  display: inline-block;
  left: 1rem;
  margin: 0.2rem;
  padding: 0.2rem;
  top: 34rem;
}

.avatar {
    margin: 0;
    width: 5rem;
}

.health-stats {
  font-size: 1rem;
  color: #807b8f;
  display: inline-block;
  position: fixed;
  top: 75%;
  margin: 0;
  padding:  1rem 6rem;
  font-size: 1.4rem;
}

.bar-stack {
  display: inline-block;
}

.bar {
  background: #bad050;
  border: #a3a3a3 solid 0.2rem;
  border-radius: .3rem;
  display: inline-block;
  height: 2rem;
  font-size: 1.5rem;
}

.health-text__left {
  font-family: Arial;
  font-size: 2rem;
  font-weight: bold;
  color: #4b4b4b;
}

#two-fifty {
  font-family: Arial;
  font-size: 3rem;
  font-weight: bold;
  color: #4b4b4b;
}

#slash {
  color: #1a81df;
}

/*Center Sector*/

.center-wrapper {
  position: fixed;
  margin: 0.5rem;
  padding: 0.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
  display: inline;
}

#skull {
  display: inline;
  /*max-width: 3.8rem;*/
}

#text {
    text-align: center;
    font-family: Arial;
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    display: inline;
}

.text-top {

}

.text-bottom {

}

/*Bottom-Right Side*/
